{% extends "public/layout.html" %}

{% block body %}
<h3> Ingress </h3>
<table class="table table-hover">
     <tr>
        <caption>
            <button type="button" id="add-ing-btn" class="btn btn-info">添加Ingress</button>
        </caption>
    </tr>
<!--i.metadata.name,i.metadata.namespace,i.spec.cluster_ip, i.spec.selector-->
    <tr>
        <th>#</th>
        <th>Ingress Name</th>
        <th>Name Spaces</th>
        <th>Server name</th>
        <th>PORT</th>
        <th>domain name</th>
        <th>操作</th>
    </tr>
{% for i in ing_list %}
<tr>
    <td>{{ forloop.counter }}</td>

    <td>{{ i.name }}</td>
    <td>{{ i.namespaces }}</td>
    <td>{{ i.svc_name }}</td>
    <td>{{ i.svc_port }}</td>
    <td>{{ i.host }}</td>
    <td class="user_status">
        <div class="btn-group">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
                    修改
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem"
                                               tabindex="-1" href="#chg_ing" data-toggle="modal"
                                               m_ns="{{ i.namespaces }}", m_svc_name="{{ i.svc_name }}", m_host="{{ i.host }}"
                                               m_port="{{ i.svc_port }}" m_name="{{ i.name }}"
                                               id="chg_ing_{{ i.name }}">修改Ing</a></li>
                       <li>
                         <a id="modal_button_{{ i.name }}" class="red" href="#modal_form"
                            data-toggle="modal" rel="{{ i.name }}" content="{{ i.namespaces }}"
                         title="删除信息">
                            <span class="red">
                               <i class="ace-icon fa fa-trash-o bigger-120"></i>
                            </span>
                            </a>
                        </li>
                </ul>
            </div>
        </td>
</tr>
{% endfor %}
</table>


<!--add 模态框-->
<div class="modal fade" id="create_ing" aria-hidden='true'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class='close' data-dismiss="modal">x</button>
                <h4>new Ingress</h4>
                 {% include 'k8s/add_ing_form.html' %}
            </div>
        </div>
    </div>
</div>


<!--// 删除模态框-->
 <div class="modal fade" id="modal_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         <h4 class="modal-title" id="myModalLabel">删除任务</h4>
       </div>
         <!--Form的id为myForm-->
         <form id="myForm" method="POST" >{% csrf_token %}
       <div class="modal-body">
        <!--存放content内容-->
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
         <button type="submit" class="btn btn-primary" >确认</button>
       </div>
        </form>
     </div>
   </div>
 </div>


<!--修改DP 模态框-->
<div class="modal fade" id="chg_ing" aria-hidden='true'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class='close' data-dismiss="modal">x</button>
                <h4>Update Ingress</h4>
                 {% include 'k8s/mod_ing_form.html' %}
            </div>
        </div>

    </div>

</div>






{% endblock %}
{% block js%}
<script>
            $(function(){
             // 添加ing
            $("#add-ing-btn").click(function () {
                // 显示模态框
                 $('#create_ing').modal('show')
        })


        // 删除 ing
        $("[href='#modal_form']").click(function(){
              //定义modal_id，确保每个按钮所产生的id不一样，否则将会是最先遇到的那个
            var modal_id = "#" + $(this).attr('id');
            // console.log(modal_id)
            var ing_name = $(modal_id).attr('rel')
            var ns_name = $(modal_id).attr('content')
            console.log(ing_name)
            console.log(ns_name)
            //填充modal的各种元素
            $('.modal-title').text('删除信息');
            $('.modal-body').text('确认要删除Ingress  '+$(modal_id).attr('rel')+'?');
             //form提交
            $('#myForm').on('submit', function(e){
                 //防止冒泡
                 e.preventDefault();
                 //提交到相应的rel上
              var  url = '/k8s/ing/del'
              $.post(url, {'ing_name': ing_name, 'ns_name': ns_name},
                 function(ret) {
                     //网页返回正常且删除操作成功
                     console.log('----------')
                    if (ret.status==0){
                         $('.modal-body').text('操作成功');
                         $('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">返回</button>');
                    //提交失败的操作
                     } else {
                         $('.modal-body').text(ret.msg);
                     $('.modal-footer').html('<button type="button" class="btn btn-default" data-dismiss="modal">返回</button>');
                        }
                    });
                });
            }); // 删除结束


            //当modal页面消失后，重新将页面刷新
            $(function () { $('#modal_form').on('hide.bs.modal', function () {
            window.location.reload();})
                 });
                var server_add_modal= $('#addUserModal')
                $('#add-server-btn').click(function () {
                server_add_modal.modal('show')
                    });
            })

</script>


<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        $('#add-ing-btn').click(function () {
            console.log('click add')
              $.ajax({
              type: "GET",
              url: "/k8s/select/ns",
              success: function (data) {
                  $("#ns").empty()
                  for (var i in data) {
                      $("#ns").append("<option value=" + data[i] + ">" + data[i] + "</option>")
                  }
                  // $("#test").append('<option value="">test1</option>')
                  form.render();
              }
          })
        })
        // 初始化



        // 开始渲染svc
        form.on('select(ns)', function(data){
          console.log(data.value); //得到被选中的值
                $.ajax({
                    type:"POST",
                    data: {"ns": data.value},
                    url:"/k8s/select/svc",
                    success:function(data) {
                        $("#label").empty()
                        // var nw = JSON.parse(data)
                        for (var i in data) {
                            $("#label").append("<option value="+data[i]+ ">"+data[i]+ "</option>")
                        }
                        form.render();
                    }
                });
         }); // end渲染dep
            //提交表单add

         form.on('submit(sbt_ing)', function(data){
            // )
              console.log(data.field)
               $.post('/k8s/ing/add',data.field,function(res){
                    if (res.status == 0 ){
                        swal({
                            'title': 'add success',
                            'text': '',
                            'type': 'success',
                        },function () {
                            setTimeout(function () {
                                window.location.reload()
                            },50);
                        })
                    }else{
                        console.log(res.msg)
                        swal('操作失败', res.msg, 'error')
                    }
        });
            return false;
          });




        // update
                $("[href='#chg_ing']").click(function() {
            //定义modal_id，确保每个按钮所产生的id不一样，否则将会是最先遇到的那个
            var chg_ing_id = "#" + $(this).attr('id');
            var m_port = $(chg_ing_id).attr('m_port')
            var m_svc_name = $(chg_ing_id).attr('m_svc_name')
            var m_ns = $(chg_ing_id).attr('m_ns')
            var tmp_host = $(chg_ing_id).attr('m_host')
            var m_name = $(chg_ing_id).attr('m_name')
            var m_host = String(tmp_host).split('.')[0]

            console.log(chg_ing_id)
            console.log(m_svc_name)
            console.log(m_ns)
            console.log(m_name)
            console.log(m_port)
            console.log(m_host)
            $("#ing_name").val(m_name)
            $("#m_label").append("<option value=" + m_svc_name + ">" + m_svc_name + "</option>")

            // $("#m_label").next().children().find('input').val(m_svc_name)
            $("#m_port").val(m_port)
            $("#m_host").val(m_host)
            // $("#m_ns").val(m_ns)
            // $("#m_ns").next().children().find('input').val(m_ns)
            $("#m_ns").append("<option value=" + m_ns + ">" + m_ns + "</option>")
            form.render();




        // 单机ns 选择

        $("#m_ns").next().children().find('input').click(function () {
            console.log('click add')
              $.ajax({
              type: "GET",
              url: "/k8s/select/ns",
              success: function (data) {
                  $("#m_ns").empty()
                  for (var i in data) {
                      $("#m_ns").append("<option value=" + data[i] + ">" + data[i] + "</option>")
                  }
                  // $("#test").append('<option value="">test1</option>')
                  form.render();
              }
          })
        })


        // 开始渲染svc
        form.on('select(m_ns)', function(data){
          console.log(data.value); //得到被选中的值
                $.ajax({
                    type:"POST",
                    data: {"ns": data.value},
                    url:"/k8s/select/svc",
                    success:function(data) {
                        $("#m_label").empty()
                        // var nw = JSON.parse(data)
                        for (var i in data) {
                            $("#m_label").append("<option value="+data[i]+ ">"+data[i]+ "</option>")
                        }
                        form.render();
                    }
                });
         }); // end渲染dep

         // 调教修改表单
        form.on('submit(sbt_ing_mod)', function(data){
            // )
              console.log(data.field)
               $.post('/k8s/ing/update',data.field,function(res){
                    if (res.status == 0 ){
                        swal({
                            'title': 'add success',
                            'text': '',
                            'type': 'success',
                        },function () {
                            setTimeout(function () {
                                window.location.reload()
                            },50);
                        })
                    }else{
                        console.log(res.msg)
                        swal('操作失败', res.msg, 'error')
                    }
        });
            return false;
          });

        })




    });//end

</script>
{% endblock %}
