<form class="layui-form layui-form-pane layui-elem-field layui-field-title " action="" id="create_dp_form" lay-fleter="create_dp_form">
     <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">Name</label>
        <div class="layui-input-inline">
          <input type="text" name="ing_name"  autocomplete="off" disabled="disabled" class="layui-input" id="ing_name">
        </div>
      </div>
    </div>



    <div class="layui-form-item">
      <label class="layui-form-label">NameSpaces</label>
      <div class="layui-input-inline">
        <select name="m_ns" lay-filter="m_ns"   id="m_ns">
          <!--<option value="">test</option>-->
        </select>
      </div>
    </div>

    <div class="layui-form-item">
      <label class="layui-form-label">关联服务</label>
      <div class="layui-input-inline">
        <select name="m_label" lay-filter="m_label" lay-verify="required|string" id="m_label">
          <!--<option value="">test</option>-->
        </select>
      </div>
    </div>




    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">服务端口</label>
        <div class="layui-input-inline">
          <input type="text" name="m_port" lay-verify="required|number" autocomplete="off"  class="layui-input" id="m_port">
        </div>
      </div>
    </div>
        <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">域名</label>
        <div class="layui-input-inline">
          <input type="text" name="m_host" lay-verify="string" placeholder="默认为name+.cd.maijinbei.cn" holder autocomplete="off" placeholder=""class="layui-input" id="m_host">
        </div>
      </div>
    </div>


      <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="sbt_ing_mod">提交修改</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>

</form>