{% extends "public/layout.html" %}

{% block body %}
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>userID</th>
        <th>username</th>
        <th>status</th>
        <th>phone</th>
        <th>职位</th>
        <th>Department</th>
        <th>email</th>
    </tr>

{% for i object_list %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.id }}</td>
    <td>{{ i.username }}</td>
    <td class="user_status">
        {% if i.is_active %}
        <span class="glyphicon glyphicon-ok-circle text-success"></span>正常
        {% else %}
        <span class="glyphicon glyphicon-warning-sign text-warning"></span>禁止
        {% endif %}
    </td>
    <td>{{ i.email }}</td>
    <td>
        <div class="btn-group">
            <div class="btn-group">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="false">
                    修改
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
            </div>
            {% if i.is_active %}
                <button type="button" class="btn btn-sm btn-warning modify_user_status" status="true" data="{{ i.id }}"> disalbe</button>
            {% else %}
                <button type="button" class="btn btn-sm modify_user_status btn-info" status="false" data="{{ i.id }}">enable</button>
            {% endif %}
        </div>
            </td>
</tr>
{% endfor %}
</table>
<div class="panel-default">
    <center>
        <ul class="pagination">
            <li><a href="/user/userlist/?page=1">首页</a></li>
            {% if page_obj.has_next %}
            <li><a href="/user/userlist/?page={{ page_obj.next_page_number}}">next</a></li>
            {% else %}
            <li class="disabled"><a href="#">next</a></li>

            {% endif %}
            <!--{# { % for p in views_page %} #}-->
            {% for p in page_obj.paginator.page_range %}
                <li {% if page_obj.number == p %} class="active" {% endif %}><a href="/user/userlist/?page={{ p }}">{{ p }}</a></li>
            {% endfor %}
            {% if page_obj.has_previous %}
                <li><a href="/user/userlist/?page={{ page_obj.previous_page_number }}">up</a></li>
            {% else %}
                <li class="disabled"><a href="#">up</a></li>
            {% endif %}
            <li><a href="/user/userlist/?page={{ page_obj.paginator.num_pages }}">末页</a></li>
        </ul>
    </center>
</div>

{% endblock %}
{% block js%}
<script>
    function change_status(obj, status){
        if(status=='true'){
            obj.html(' <span class="glyphicon glyphicon-ok-circle text-success"></span>正常')
        }else{
            obj.html('<span class="glyphicon glyphicon-warning-sign text-warning"></span>禁止')
        }
    }

    function modify_status(user_id){
        console.log(user_id)
        $.post('/user/modify/', {'user_id': user_id}, function(res){
        console.log(res)
        if(res.status ==0){
        console.log(res)
        }else{
         swal({
            title: res.errmsg,
            type: "error",
            confirmButtonText: "知道了"
            });
        }
        })
    }
    $(function(){
    $('.modify_user_status').click(function(){
    var click_obj = $(this)
    var status = click_obj.attr('status')
    if (status == 'true'){
        console.log(status)
        click_obj.removeClass('btn-warning').addClass('btn-info').attr('status', 'false').text(' enable');
        }else{
        click_obj.removeClass('btn-info').addClass('btn-warning').attr('status', 'true').text('disalbe');
        }
    change_status(click_obj.parents('td').siblings('.user_status'), status)
    modify_status(click_obj.attr('data'))

    })
    })
</script>
{% endblock %}
